# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Integration.Examples.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Integration.Examples\DotNet\.idea\.idea.Integration.Examples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
