<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Region" value="us-west-2" />
    <add key="QueueUrl" value="http://sqs.us-west-2.amazonaws.com/GET_URL_FROM_YOUR_AWS_ACCOUNT" />
    <add key="AccessKey" value="SET_UP_CREDENTIALS_WITH_YOUR_AWS_ACCOUNT" />
    <add key="SecretKey" value="SET_UP_CREDENTIALS_WITH_YOUR_AWS_ACCOUNT" />
  </appSettings>
</configuration>