.vs
.vscode
*.user
*.orig
bin
obj
bower_components
node_modules
wwwroot
typings
coverage
*.suo
*.log
npm-debug.log*
build.json

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/contentModel.xml
.idea/**/.name
/DotNet/packages
